<header>
    <nav class="nav collapsible" >
        <a href="/" class="nav__brand" >
            <h2 class="nav__heading" >Vincent<span class="nav__heading--light" >Law</span></h2>
        </a>
        <img class="icon nav__toggle" src="../../base/images/menu.png" alt="">
        <ul class="list nav__list collapsible__content" >
            <li class="nav__item" >
                <a href="#">Services</a>
            </li>
            <li class="nav__item" >
                <a href="#">Pricing</a>
            </li>
            <li class="nav__item" >
                <a href="#">Blog</a>
            </li>
            <li class="nav__item" >
                <a class="btn btn--ghost" href="#">Call Now</a>
            </li>
        </ul>
    </nav>
</header>